<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
  <title>FxFl Combination Demo #3</title>
</head>
<body ng-app="fxfl" class="vt" ng-init="size = 0; scale = 2;">
  <div>
    Select width:
    <input type="radio" ng-model="size" value="50">  50 
    <input type="radio" ng-model="size" value="100"> 100 
    <input type="radio" ng-model="size" value="150"> 150
    / Show Panel: <button ng-click="show = !show">{{show? 'Hide' : 'Show'}}</button>
  </div>
  <div class="testBox">
    <div fxfl-panel>
      <div fxfl-panel fxfl-width="(size + 1) + (100 * scale)"></div>
      <div fxfl-panel fxfl-width="100%"></div>
      <div fxfl-panel="show" fxfl-width="250"></div>
    </div>
  </div>
  <script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="js/demo.js"></script>
  <script src="js/fxfl.js"></script>
</body>
</html>