body {
  position: fixed;
  width: 100%;
  height: 100%;
}

.testBox {
  height:100%;
}

[fxfl-container], [fxfl-hz-pannel] {
  width: 100%;
  height: 100%;
}

[fxfl-main] {
  clear: both;
}
[fxfl-hz-pannel] {
  float: left;
}